<nav class="navbar w-full bg-base-300">
  <div class="flex flex-1 ml-5 gap-3">
    @for (route of routes(); track $index) {
    <a [routerLink]="route.route" class="btn" [class.btn-ghost]="!route.activeRoute()"
      [class.btn-primary]="route.activeRoute()">
      {{ route.label | transloco }}
    </a>
    }
  </div>
  <div class="flex-none gap-2 inline-flex items-center">
    <app-lang-switcher />
    <app-theme-switcher />
    <div class="divider divider-horizontal before:bg-base-content after:bg-base-content my-2"></div>
    @if (!authService.isAuthenticated()){
    <div class="mr-5">
      <button type="button" class="btn btn-ghost" (click)="authService.login()">
        <div class="text-base mr-1">{{'dashboard.login' | transloco }}</div>
        <div class="avatar rounded-full bg-base-100">
          <fa-icon [icon]="signIn" size="xl" />
        </div>
      </button>
    </div>
    } @else {
    <details>
      <summary>
        @if (authService.userInfo(); as user) {
        <div class="avatar">
          <div class="w-24 rounded-full">
            <img [src]="profilePicture()" alt="Profile picture" />
          </div>
        </div>
        }
      </summary>
      <ul class="bg-base-100 rounded-t-none p-2">
        <li><a>{{'navbar.profile' | transloco}}</a></li>
        <li><button (click)="authService.logout()">{{'navbar.logout' | transloco}}</button></li>
      </ul>
    </details>
    }
  </div>
</nav>