<nav class="navbar w-full bg-base-300">
  <div class="flex flex-1 ml-5 gap-3">
    @for (route of routes(); track $index) {
    <a [routerLink]="route.route" class="btn" [class.btn-ghost]="!route.activeRoute()"
      [class.btn-primary]="route.activeRoute()">
      {{ route.label | transloco }}
    </a>
    }
  </div>
  <div class="flex-none gap-2 inline-flex items-center">
    <app-lang-switcher />
    <app-theme-switcher />
    <div class="divider divider-horizontal before:bg-base-content after:bg-base-content my-2"></div>
    @if (!authService.isAuthenticated()){
    <div class="mr-5">
      <button type="button" class="btn btn-ghost" (click)="authService.login()">
        <div class="text-base mr-1">{{'dashboard.login' | transloco }}</div>
        <div class="avatar rounded-full bg-base-100">
          <fa-icon [icon]="signIn" size="xl" />
        </div>
      </button>
    </div>
    } @else {
      <div class="dropdown dropdown-end mr-5">
					<button tabindex="0" role="button" class="btn btn-ghost">
							<div class="text-base mr-1">{{organization()}}</div>
              <app-avatar [user]="authService.userInfo()!" />
					</button>
          <ul tabindex="-1" class="dropdown-content dropdown-z menu p-2 shadow bg-base-300 rounded-box w-max">
            <li class="pointer-events-none">
              <div class="flex flex-row pl-2">
                <app-avatar [user]="authService.userInfo()!" />
                <div class="flex flex-col gap-1">
                  <p class="text-base font-bold ml-0">{{ organization() }}</p>
                  <p class="text-xs ml-0 text-secondary">
                    {{ area() }}                    
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="flex flex-row gap-2">
                <a [routerLink]="['/', 'fr', 'dashboard', 'settings', 'profile']" >
                  <fa-icon [icon]="gear" class="pr-2" />
                  {{ "navbar.settings" | transloco }}
                </a>
              </div>
            </li>
            <div class="divider my-0"></div>
            <li>
                <button type="button" class="flex flex-row gap-2" (click)="authService.logout()">
                  <fa-icon [icon]="signOut" class="pt-1" />
                  {{ "navbar.logout" | transloco }}
                </button>
            </li>
          </ul>
  			</div>
    }
  </div>
</nav>