		<div class="dropdown w-fit z-40">
			<button
				type="button"
				class="badge py-4 px-4 bg-base-300 rounded-full hover:bg-secondary text-black dark:hover:bg-base-100 dark:text-white"
			>
				+
			</button>

			<!-- {isDropdownOpen && ( -->
				<div class="dropdown-content menu p-4 shadow bg-base-100 rounded-box w-60 mb-1">
					<input
						type="text"
						[placeholder]="searchText()"
						class="input input-ghost w-full mb-2"
            [formField]="searchTerm"
					/>
					<ul className="max-h-40 overflow-y-auto">
            @for (value of values(); track value.id) {

              <li>
                <button type="button" class="w-full text-left">
                  {{value.name}}
                </button>
              </li>
            }
					</ul>
				</div>
			<!-- )} -->
		</div>
