/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@plugin 'daisyui' {
  themes: light --default, dark ;
}

@theme {
  --color-gray-700: #424242;
  --color-gray-900: #303030;
}