/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@plugin 'daisyui' {
  themes: light --default, dark ;
}

@theme light {
  --color-gray-700: #424242;
  --color-gray-900: #303030;
  --color-base-content: #181A2A;
}

@theme dark {
  --color-base-content: #DCDCDC;
}